@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(20, 20, 20);
}

.sideBar-btn{

@apply flex items-center gap-2 w-[190px] text-start py-4 px-3 rounded-lg hover:transition-all hover:duration-1000 hover:bg-gradient-to-r from-red via-red  to-gray-900;

}
.sideBar-btn span:nth-child(2) {
  @apply w-40 
}
.sideBar-btn span:nth-child(3) {
  @apply hidden
}
.sideBar-btn:hover span:nth-child(3)
{
  @apply block
}

.sideBar-btn:hover span:nth-child(3)
{
  @apply block;
}

.listproduits::-webkit-scrollbar{
  width: 10px;
  border-radius: 10px;
  color: white;
}
input::placeholder{
  color: white;
  font-size:small;
}
.auth input{
  @apply p-2 rounded-lg border border-gray-300 bg-lightGray outline-none w-full 
  
}

 div .span-account{
  @apply  text-lg font-bold w-[150px]
}
div:has(.span-account){
  @apply  flex items-center
}